<!DOCTYPE html>
<html>
<head>
    <title>Email Spam Detection</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Email Spam Detection</h1>
    <form action="/predict" method="POST">
        <label for="message">Enter your email message:</label><br>
        <textarea name="message" required></textarea><br>
        <button type="submit">Predict</button>
    </form>
    {% if prediction_text %}
        <div class="result">{{ prediction_text }}</div>
    {% endif %}

    <script src="/static/script.js"></script>
</body>
</html>
